
.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.on-top-panel {
  position: absolute;
  z-index: 999;
  border-radius: var(--radius);
}
