
APP_ENV=development # / production      #cors / test-apis / SESSION_COOKIES

SECRET_KEY=...                          #Secret Flask Key

MONGO_URI=mongodb+srv://...             #MongoDB Link
SENDER_EMAIL=...                        #Outgoing email for reports
EMAIL_PWD=""                            #Corresponding email password
TARGET_EMAIL=...                        #target admin-email
FRONTEND_URL=...                        #frontend url for verification-email-link

PORT=10000                              #port for flask api

SESSION_REDIS_URL=redis://...           #session redis url

RATELIMIT_STORAGE_URI=redis://...       #ratelimit redis url

FRONTEND_ORIGINS=...                    #cors origins