
.member-unit {
}

.member-unit summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.member-unit summary,
.details-body {
    padding: 10px 6%;
}

.member-unit summary img {
    height: 50px;
    width: 50px;
    border-radius: 25%;
}