
.member-unit {
    border-bottom: 1px solid lightgray;
}

.member-unit summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.member-unit summary,
.details-body {
    padding: 10px 6%;
}

.member-unit summary img {
    height: 50px;
    width: 50px;
    border-radius: 25%;
}
.member-unit .nameBig {
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
}
.member-unit .nameLight {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.member-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 6%;
}
