
.member-entry {
    border-bottom: 1px solid lightgray;
}

.member-unit,
.details-body {
    padding: 10px 6%;
}

.member-unit {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.member-info {
    display: flex;
    align-items: center;
    gap: var(--gap);
}
.member-unit img {
    height: 50px;
    width: 50px;
    border-radius: 25%;
}
.member-entry .nameBig {
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
}
.member-enrtry .nameLight {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.member-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
